body {
    font-family: "Space Mono", monospace;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto en color blanco */
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Altura completa de la ventana */
    display: flex;
   flex-direction: column;
    /*justify-content: center;*/
   align-items: center;
}
.contenedor-logo{
    height: 25%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-logo > img{
    width:30%;
  

}
.contenedor-h1:hover{
    margin-bottom:1px;
    border-bottom-style: solid;
    border-bottom-color: white;
    transition: 10s ;
}


h1 {
    color: #fff; /* Color del h1 en blanco */
    width: 80%; /* El h1 ocupa un 20% de la pantalla */
    font-size: 2em; /* Ajuste del tamaño de la fuente */
    margin: 0;
}

.contenedor-form{
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     /* background-color: #333;  Fondo del formulario en gris oscuro */
    background-color: rgba(80, 80, 80, 0.1);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(195, 195, 195, 0.8);
    
 }



  

label {
    display: block;
    margin: 10px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Ajuste para padding y border */
    box-sizing: border-box;
}

button {
    font-family: "Space Mono", monospace;
    padding: 10px 20px;
   /* background-color: #007bff;*/
    background-color: rgba(72, 189, 235, 0.2);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2em;
    width: 85%;
}

.contenedor-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.boton{
    margin: 50px;
}


.contenedor-form_nombre{
    display: flex;
}

.contenedor-botones_nombre > label{
    margin: 50px;
}